Set xml:lang according to the system language

It would be nice if you set `xml:lang` according to [RFC6210 Section 4.7.4](https://tools.ietf.org/html/rfc6120#section-4.7.4) to the system language. That would enable services/bots to reply in the users native language.

duplicate of #3804 